body{
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; */


}
.square {
    height: 150px;
    width: 150px; 
    background-color: black;
    transition: 0.5s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.animated_space {
    animation: animated_space 0.3s;
}

.animated_Ctrl {
    animation: animated_Ctrl 0.5s ease forwards;
}

@keyframes animated_space{
    100% {
      transform: translateY(-10px);
    }
}

@keyframes animated_Ctrl{
    100% {
        height: calc(150px - (150px * 0.4));;
        width: calc(150px + (150px * 0.25));
    }
}