#element {
    margin-bottom: 20px;
    height: 150px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    margin-bottom: 10px;
}

button {
    max-width: 200px;
}

.square {
    width: 150px;
}

.rectangle {
    width: 300px;
}

.circle {
    width: 150px;
    border-radius: 50%;
}
